# Core packages
# INSTALL ONNX RUNTIME CPU
onnxruntime~=1.18.0; sys_platform == 'darwin'  # ONNX Runtime for macOS
# INSTALL ONNX RUNTIME GPU (CUDA 11.X)
onnxruntime-gpu~=1.18.0; sys_platform == 'linux' and platform_machine != 'arm64' and platform_machine != 'aarch64'
# INSTALL ONNX RUNTIME GPU (CUDA 12.X)
# pip onnxruntime-gpu --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
# Note: Refer to: https://onnxruntime.ai/docs/install/#python-installs
# Note: onnxruntime-gpu will be installed as the pre-built version on Jetson Nano
opencv-python~=4.8.1; sys_platform == 'darwin' or (sys_platform == 'linux' and platform_machine != 'arm64' and platform_machine != 'aarch64')
pydantic~=2.10.6

# Visualization
wasabi~=1.1.2  # Minimalist output messages library
